* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-container {
    background: white;
    padding: 40px;
    width: 350px;
    /* text-align: center; */
    border-radius: 10px;
    /* border: 1px solid rgb(80, 80, 80); */
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    color: #727171;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #d8d7d7;
    border-radius: 7px;
    font-size: 14px;
}

.forgot-password {
    display: block;
    text-align: start;
    font-size: 12px;
    color: #5b5a5a;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #0057ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #053caa;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.register-link a {
    color: #0057ff;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn:hover {
    background: #0044cc;
}

.register-link a:hover {
    text-decoration: underline;
}
