.red{
    color: red;
}

.blue{
    color: blue;
}

.box{
    border: 2px solid black;
    background-color: pink;
}

.btnStyle{
    background-color: blue;
    color: white;
}

.head{
    text-decoration: underline wavy;
    color: purple;
}